* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#nav {
    background-color: white;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 85px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Montserrat', sans-serif;
    /* Apply shadow */
}

#logo {
    height: 100%;
    padding-top: 16px;
}

#logo img {
    width: 200px;
    height: 33px;
}

#nav_links {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 16px;
}

#nav_links h4 {
    font-size: 20px;
}

#main {
    width: 100%;
    height: 100%;
    /* background-color  : red; */
    padding-left: 100px;
    padding-top: 50px;
    display : grid;
    grid-template-columns: repeat(auto-fill, 400px);
    gap : 50px;
    grid-auto-rows: 300px;
    /* padding-right : 100px;  */
    /* overflow-y:auto; */
}

.job {
    border: 2px solid;
    border-color: rgba(35, 96, 134, 0.49);
    border-radius: 5px;
    width: 100%;
    
    margin-bottom: 5px;
    /* display: flex; */
    /* gap: 50px; */
    padding: 5px 5px;
    font-family: 'Montserrat', sans-serif;
    /* background-color: rgba(187, 205, 215, 0.49); */
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}
#image img{
    height : 100px; 
    width : 100px;
}
#layer1{
    display : flex;
    gap : 40px;
}
#layer2 #show_location{
    margin-top : 20px;
    margin-left : 20px;
    display : flex; 
    gap : 20px;
    
}
#layer2 #others{
    margin-top : 20px;
    margin-left : 20px;
    display : flex; 
    gap : 20px;

}
#layer1 #heading{
    margin-top : 20px;
}
#nav_links a,#heading a {
    text-decoration: none;
    color: black;
}

#nav_links a:hover,
#heading a:hover {
    text-decoration: underline;
}
#banner{
    width : 100%; 
    height : 90px; 
    background-color: #C3E2F7;
    font-family: 'Nunito Sans', sans-serif;
    display : flex;
    /* padding-left : 430px;  */
    justify-content: center;
    /* align-items: center; */
}
#banner #header{
    margin-top:1em;
}
#banner p{
    text-align : center;
}
#banner img{
    height : 100%;
    width : 100px;
}
#icon { 
    display : flex;
    gap : 10px;
}
#view_details{
    background-color: #0A66C2;
    width : 75%;
    height : 35px;
    margin-left : 50px;
    margin-top : 20px;
    border-radius: 50px;
    display : flex;
    align-items: center;
    justify-content: center;

}
#view_details{
    color : white;
    border : none;
}
/* #view_details #button a{
    text-decoration : none;
    
} */
#view_details:hover {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    cursor : pointer;
}
#below_banner {
    padding-top : 10px;
    padding-left : 642px;
    font-size : 20px;
    font-family: 'Nunito Sans', sans-serif;
}