<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobJunction</title>
    <link rel="stylesheet" href="about_us.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <div id="nav">
        <div id="logo">
            <img src="jobjunction-high-resolution-logo.png" alt="">
        </div>
        <div id="nav_links">
            <a href="home">
                <h4>Home</h4>
            </a>
            <a href="jobs">
                <h4>Jobs</h4>
            </a>
            <a href="about_us">
                <h4>About Us</h4>
            </a>
            <a href="profile">
                <h4>Profile</h4>
            </a>
        </div>
    </div>
    <p>
    </p>
    <div id="main">
        <div id="layer1">
            <div id="p1">
                <h3>About JobJunction</h3>
                <p>
                    Welcome to JobJunction, your premier destination for exploring the latest job opportunities across various industries.
                    Established in the year 2023, JobJunction was founded with a vision to simplify and streamline the job search process
                    for both job seekers and employers.
                </p>
            </div>
            <div id="p2">
                <h3>Our Mission</h3>
                <p>
                    At JobJunction, our mission is to connect talented individuals with exceptional career opportunities. We strive to
                    empower job seekers by providing a user-friendly platform that showcases diverse job listings from reputable companies
                    worldwide.
                </p>
            </div>
            <div id="p4">
                <h3>What We Offer</h3>
                <h4>Comprehensive Job Listings</h4>
                <p>
                    Explore a vast array of job postings covering diverse sectors, including technology, finance, healthcare, marketing, and
                    more. We aggregate opportunities from leading companies, ensuring a wide range of choices for every skill set and career
                    level.
                </p>
                <h4>User-Friendly Experience</h4>
                <p>
                    Our user-centric design focuses on delivering an intuitive and efficient experience. Browse through jobs effortlessly,
                    customize search preferences, and apply for positions with ease.
                </p>
                <h4>
                    Seamless Connection
                </h4>
                <p>
                    We bridge the gap between employers and job seekers by facilitating seamless communication. Employers can reach a vast
                    pool of qualified candidates, while individuals can directly connect with potential employers.
                </p>
            </div>
            <div id="p5">
                <h3>Our Commitment</h3>
                <p>
                    JobJunction is committed to upholding the highest standards of integrity, transparency, and reliability in the
                    recruitment landscape. We prioritize the needs of our users, striving to provide a platform that fosters professional
                    growth and success.
                </p>
            </div>
            <div id="p3">
                <h3>Join Us in Shaping Careers</h3>
                <p>
                    Whether you are a recent graduate, a seasoned professional, or an employer seeking top talent, JobJunction invites you
                    to join our community. Together, let's embark on a journey to shape careers and create opportunities for a brighter
                    future.
                </p>
            </div>
        </div>

    </div>
</body>

</html>