<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <div id="nav">
        <div id="logo">
            <img src="logo-mod.png" alt="">
        </div>
        <div id="nav_links">
            <h4>Home</h4>
            <h4>Jobs</h4>
            <h4>About Us</h4>
            <h4>Profile</h4>
        </div>
    </div>
    <h1>Home</h1>

    
</body>
</html>