<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobJunction</title>
    <link rel="stylesheet" href="login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <div id="nav">
        <div id="logo">
            <img src="jobjunction-high-resolution-logo.png" alt="">
        </div>
        <div id="nav_links">
            <a href="home">
                <h4>Home</h4>
            </a>
            <a href="jobs">
                <h4>Jobs</h4>
            </a>
            <a href="about_us">
                <h4>About Us</h4>
            </a>
            <a href="profile">
                <h4>Profile</h4>
            </a>
        </div>
    </div>
    <div id="main">
        <div id="log-box">
            <div id="heading">
                <h1>Sign in</h1>
            </div>
            <div id="subheading">
                <p>Welcome back! Sign in to continue</p>
            </div>
            <form action="/login" method="post">
                <div id="take-email">
                    <label for="email" id="lf">Email</label>
                    <input type="text" name="email" id="email">
                </div>
                <div id="take-password">
                    <label for="password" id="lf">Password</label>
                    <input type="password" name="password" id="password">
                </div>
                <input type="submit" id="submit" value="Sign In">
            </form>
            <div id="signup-link">
                <p>New to JobJunction ? <a href="/signup">Join Now</a></p>
            </div>
        </div>
    </div>
</body>
</html>